[Desktop Entry]
Icon=text-html
Name=Seller address on amazon.com
Type=Link
URL[$e]=https://www.amazon.com/sp?ie=UTF8&seller=A1BZE64L4US7V#:~:text=Detailed Seller Information,CN
